<div class="flex w-full justify-between px-4 py-2 bg-white sm:shadow-xl fixed">
  
    <img class="h-8 w-auto self-center" src="favicon.ico" alt="logo-angular">
    
    <div class="flex justify-end items-center relative" (mouseleave)="cerrarMenu()">
      <!-- Iconos abrir y cerrar -->
      <div class="hover:bg-gray-100 p-2 rounded-xl" (click)="onClickMenuHamburguesa()"
        (pointerenter)="onHoverMenu($event)">
        <!-- Icono para X -->
        <svg class="size-6 {{ (menuAbierto ? '' : 'hidden') }}" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
        <!-- Menu hamburguesa -->
        <svg class="size-6 {{ (menuAbierto ? 'hidden' : '') }}" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
  
      <!-- Este es un espacio en blanco para controlar el comportamiento del menu -->
      <div class="absolute right-0 top-full w-full h-3"></div>
      <!-- Menu (modal) -->
      <div class="bg-zinc-100 absolute right-0 top-full p-4 mt-3 rounded-lg {{ (menuAbierto ? '' : 'hidden') }} w-[300px] sm:w-[500px]">
        <!-- Titulo -->
         <div class="text-gray-800 text-xl p-4">Zona de Potencia Sistema Interconectado Nacional</div>
        
         <!-- Primera opciones de menu modal Capacidad Demandada y RAP en 2024 SIN (v2025 01 31) -->
        <div class="group relative w-full flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-white"
          (click)="onClickMenuHamburguesa()">
          
          <div class="flex-auto">
            <a href="capacidad-demandada-yrapen2024-sinv20250131/" class="block text-gray-500">
              Capacidad Demandada y RAP en 2024 SIN (v2025 01 31)
              <span class="absolute inset-0"></span>
            </a>
          </div>
        </div>

        <!-- Segunda opcion -->
        <div class="group relative w-full flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-white"
        (click)="onClickMenuHamburguesa()">
        
        <div class="flex-auto">
          <a href="capacidad-demandada-yrapen2024-sinpreliminarv20250127" class="block text-gray-500">
            Capacidad Demandada y RAP en 2024 SIN Preliminar (v2025 01 27)
            <span class="absolute inset-0"></span>
          </a>
        </div>
      </div>

      <!-- Titulo 2 -->
      <div class="text-gray-800 text-xl p-4">Zona de Potencia Sistema Baja California</div>

      <!-- Primera opciones de menu modal Capacidad Demandada y RAP en 2024 SIN (v2025 01 31) -->
      <div class="group relative w-full flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-white"
      (click)="onClickMenuHamburguesa()">
      
      <div class="flex-auto">
        <a href="capacidad-demandada-yrapen2024-bcav20250131" class="block text-gray-500">
          Capacidad Demandada y RAP en 2024 BCA (v2025 01 31)
          <span class="absolute inset-0"></span>
        </a>
      </div>
    </div>

    <!-- Segunda opcion -->
    <div class="group relative w-full flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-white"
    (click)="onClickMenuHamburguesa()">
    
    <div class="flex-auto">
      <a href="capacidad-demandada-yrapen2024-bcapreliminarv20250127" class="block text-gray-500">
        Capacidad Demandada y RAP en 2024 BCA Preliminar (v2025 01 27)
        <span class="absolute inset-0"></span>
      </a>
    </div>
  </div>


  <!-- Titulo 3 -->
  <div class="text-gray-800 text-xl p-4">Zona de Potencia Sistema Baja California Sur</div>

  <!-- Primera opciones de menu modal Capacidad Demandada y RAP en 2024 SIN (v2025 01 31) -->
  <div class="group relative w-full flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-white"
  (click)="onClickMenuHamburguesa()">
  
  <div class="flex-auto">
    <a href="capacidad-demandada-yrapen2024-bcsv20250131" class="block text-gray-500">
      Capacidad Demandada y RAP en 2024 BCS (v2025 01 31)
      <span class="absolute inset-0"></span>
    </a>
  </div>
</div>

<!-- Segunda opcion -->
<div class="group relative w-full flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-white"
(click)="onClickMenuHamburguesa()">

<div class="flex-auto">
  <a href="capacidad-demandada-yrapen2024-bcspreliminarv20250127" class="block text-gray-500">
    Capacidad Demandada y RAP en 2024 BCS Preliminar (v2025 01 27)
    <span class="absolute inset-0"></span>
  </a>
</div>
</div>

  
  
      </div>
  
    </div>
  
  </div>
  
  <div class="icono hidden">
  
    <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd"
        d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd" />
    </svg>
  </div>